#getPicture{
  display:none;
  position:absolute;
  width:100%;
  height:95%;
  text-align:center;
}

#canvasBox{
  height:360px;
  position:relative;
}

canvas{
  position:absolute;
  top:0;
  left:0;
  left:0;
  right:0;
  margin:auto;
  opacity:0;
}

canvas.view{
  opacity:1;
  /*z-index:1;*/
}

#startButton{
  margin:auto;
  width:200px;
  background:rgba(155,155,155,0.5);
  border:solid 2px white;
  font-weight:bold;
  font-size:150%;
  color:white;
}

#loadingLine{
  width:0;
  height:3px;
  background:white;
}

#loading{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:30px;
}
